@media print {
  h1 {
    text-align: center;
    font-size: 16pt;
    text-transform: uppercase;
    font-weight: black;
  }

  h2 {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: black;
  }

  body {
    font-family: "Azuro";
    font-weight: bold;
    font-size: 10pt;
  }

  ul {
    padding-left: 2ex;
  }

  ul li {
    margin-bottom: 6px;
  }

  @page {
    margin: 0mm 0mm 0mm 0mm;
    /* size: 57mm 100mm; */
  }
}

