cairocffi==1.6.1
CairoSVG==2.5.2
cffi==1.15.1
cssselect2==0.7.0
defusedxml==0.7.1
Pillow==9.4.0
pip==24.0
pycparser==2.21
pyobjc-core==9.2
pyobjc-framework-Cocoa==9.2
pyobjc-framework-CoreBluetooth==9.2
pyobjc-framework-IOBluetooth==9.2
qrcode==6.1
setuptools==47.1.0
six==1.16.0
tinycss2==1.2.1
tqdm==4.59.0
webencodings==0.5.1
